<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>crud-opp</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="container">
    <div class="formbox">
      <h2><button id="signup">sign up</button></h2>
      <form action="/register" method="post">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="username" name="username">
        <input type="text" placeholder="email" name="email">
        <input type="text" placeholder="contact" name="contact">
        <input type="text" placeholder="image" name="image">
        <input type="text" placeholder="age" name="age">
        <button><input type="submit"></button>
      </form>
    </div>
  </div>
</body>

</html>